# Ignore downloaded archives
vscode-downloads-*/

# Ignore extracted installations
vscode-versions-*/

# Ignore the active symlinks
code-stable
code-insider

# Ignore the background daemon lock files
.vscode-updater-*.lock
